body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f5;
}

/* nav */
nav {
    background: #2f855a;
    padding: 10px 20px;
}
nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}



.container {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
}




/* stats C */
.summary {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.card {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}


/* table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
}



/* messag */
.msg {
    padding: 8px;
    margin-bottom: 5px;
}
.msg.success { background: #c6f6d5; }
.msg.danger { background: #fed7d7; }
.msg.warning { background: #faf089; }
.msg.info { background: #bee3f8; }

